<form action="/payment/results">
  <label for="apr">APR</label>
  <input id="apr" type="text" name="users_apr" placeholder="E.g. 5.42">
  <div>
    <label for="yrs">Number of years</label>
  <input id="yrs" type="text" name="users_years" placeholder="How many years to repay?">
  </div>
  <div>
    <label for="prin">Principal</label>
  <input id="prin" type="text" name="users_pv" placeholder="How much principal?">
  </div>
  <button>Calculate monthly payment</button>
</form>
